html, body{
	margin: 0px;
	padding: 0px;
}
#inputs{
	margin-top: 20%;
	margin-left: 5%;
	width: 90%;
}
#backbtn{
	float: left;
}
#email{
	height: 50px;
}
#headSearch{
width: 100%;
	top: 10%;
	text-align:center;
	font-size: 20px;
}
#backbtn{
	top: 3%;
	left: 5%;
	width: 5%;
}
#btnsearchpassword {
	position: absolute;
	width: 100%;
	margin: 0px;
	padding: 0px;
	bottom: 0%;
	left: 0%;
}
